
.vs/slnx.sqlite
.idea/darkdnd.iml
.idea/modules.xml
.vs/darkdnd/FileContentIndex/8dc4aae4-ff93-41df-9237-4328e8996958.vsidx
.vs/darkdnd/FileContentIndex/read.lock
.vs/darkdnd/v17/.suo
.vs/VSWorkspaceState.json
.vscode/extensions.json
