<div class="tab flexrow active" data-group="primary" data-tab="description">
<!--
		({{item.data.damage.currentweapondamage}})
		({{item.data.damage.basenotchdamage}})
-->
    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>Weight</label>
            <input type="text" name="data.weight" value="{{data.weight}}" placeholder="0" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>Slots</label>
			<select class="hitdice white"name="flags.darksheet.item.slots" placeholder="1" data-dtype="Number">
				{{#select item.flags.darksheet.item.slots}}
				<option value=""></option>
				<option value="0.2">Tiny, 0.2</option>
				<option value="1">Small, 1</option>
				<option value="2">Medium, 2</option>
				<option value="3">Large, 3</option>
				<option value="6">Extra Large, 6</option>
				<option value="9">XXL, 9</option>
				{{/select}}
			</select>
			
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
			<select class="hitdice white"name="flags.darksheet.item.currency" placeholder="1" data-dtype="String">
				{{#select item.flags.darksheet.item.currency}}
				<option value="gp">gp</option>
				<option value="sp">sp</option>
				<option value="cp">cp</option>
			{{/select}}
			</select>
        </div>
		{{#unless disableitemquality}}
		<div class="form-group">
            <label>Quality/Value</label>
            <select class="hitdice white" name="flags.darksheet.item.quality" data-dtype="String">
				{{#select item.flags.darksheet.item.quality}}
				<option value="pristine">Pristine 75%</option>
				<option value="worn">Worn 50%</option>
				<option value="well-worn">Well-Worn 25%</option>
				<option value="scarred">Scarred 10%</option>
				{{/select}}
			</select>
        </div>
		{{/unless}}
		{{#unless hideammodie}}
		<div class="form-group">
					<label class="rollable ammodice">Ammodie</label>
					<select class="hitdice white" name="flags.darksheet.item.ammodie" placeholder="d20" data-dtype="String">
						{{#select item.flags.darksheet.item.ammodie}}
						<option value=""></option>
						<option value="d20">d20</option>
						<option value="d12">d12</option>
						<option value="d10">d10</option>
						<option value="d8">d8</option>
						<option value="d6">d6</option>
						<option value="d4">d4</option>
						<option value="1">1</option>
						{{/select}}
					</select>
		</div>	
		{{/unless}}
		{{#unless hidenotches}}
		{{#unless disablefragility}}
		<div class="form-group">
					<label class="rollable ammodice tempercost">Fragility</label>
					<select class="hitdice white" name="flags.darksheet.item.fragility" data-dtype="String">
						{{#select item.flags.darksheet.item.fragility}}
						<option value=""></option>
						<option value="1">Delicate (1 Notch)</option>
						<option value="2">Frail (2 Notches)</option>
						<option value="3">Basic (3 Notches)</option>
						<option value="5">Solid (5 Notches)</option>
						<option value="10">Sturdy (10 Notches)</option>
						<option value="15">Durable (15 Notches)</option>
						<option value="20">Very Sturdy (20 Notches)</option>
						<option value="50">Fabled (20 Notches)</option>
						<option value="100">Indestructible(100+ Notches)</option>
						<option value="custom">Custom (Field Below)</option>
						{{/select}}
						<input type="text" style="margin: 0;text-align: center;" class="fatepoints" name="flags.darksheet.item.maxnotches" value="{{item.flags.darksheet.item.maxnotches}}" placeholder="0" data-dtype="Number"/>
					</select>
		</div>	
		{{/unless}}
		{{#unless disabletemper}}
		<div class="form-group">
					<label class="rollable ammodice tempercost">Temper</label>
					<select class="hitdice white" name="flags.darksheet.item.temper" data-dtype="String">
						{{#select item.flags.darksheet.item.temper}}
						<option value=""></option>
						<option value="Pure">Pure (Uncommon)</option>
						<option value="Royal">Royal (Rare)</option>
						<option value="Astral">Astral (Mythic)</option>
						{{/select}}
					</select>
		</div>
		{{/unless}}
        <div class="form-group">
            <label>Notches</label>
            <input type="text" readonly style="margin: 0;text-align: center;" class="fatepoints" name="flags.darksheet.item.notches" value="{{item.flags.darksheet.item.notches}}" placeholder="0" data-dtype="Number"/>
        </div>
		{{/unless}}
        {{/if}}

        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>