<form class="{{cssClass}} flexcol {{data.attributes.color.value}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
	<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>

            <div class="charlevel">
                <div class="level {{#if disableExperience}}noxp{{/if}}">
                    <label>Level {{data.details.level}}</label>
                </div>
                {{#unless disableExperience}}
                <div class="experience">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                           data-dtype="Number" placeholder="0"/>
                    <span class="max"> / {{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </div>

            <ul class="summary trainingssummary">
                <label class="trainingslabel">Training</label>
                <input class="trainingcheckbox1" type="checkbox" name="data.attributes.trainpoint1.value" data-dtype="Boolean" {{checked data.attributes.trainpoint1.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint2.value" data-dtype="Boolean" {{checked data.attributes.trainpoint2.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint3.value" data-dtype="Boolean" {{checked data.attributes.trainpoint3.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint4.value" data-dtype="Boolean" {{checked data.attributes.trainpoint4.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint5.value" data-dtype="Boolean" {{checked data.attributes.trainpoint5.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint6.value" data-dtype="Boolean" {{checked data.attributes.trainpoint6.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint7.value" data-dtype="Boolean" {{checked data.attributes.trainpoint7.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint8.value" data-dtype="Boolean" {{checked data.attributes.trainpoint8.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint9.value" data-dtype="Boolean" {{checked data.attributes.trainpoint9.value}}/>
                <input class="trainingcheckbox" type="checkbox" name="data.attributes.trainpoint10.value" data-dtype="Boolean" {{checked data.attributes.trainpoint10.value}}/>
                <label class="spentlable">Spent</label>
                <input type="number" class="trainpointa {{data.attributes.color.value}}" name="data.attributes.trainpointa.value" value="{{data.attributes.trainpointa.value}}" />
            </ul>
            {{!-- Character Summary --}}
            <ul class="summary">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="Race" />
                </li>
                <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="Background" />
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="Alignment" />
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.Health" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                               data-dtype="Number" placeholder="10"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                               data-dtype="Number" placeholder="10"/>
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+Temp"
                               value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}"/>
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+Max"
                               value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}"/>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title rollable handy-ac">Armor Class</span></h4>
                    <div class="attribute-value">
                        <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}" data-dtype="{{data.attributes.ac.type}}" placeholder="10" />
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "DND5E.Proficiency" }}</span>
                        <span>{{numberFormat data.attributes.prof decimals=0 sign=true}}</span>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.Speed" }}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}" placeholder="0" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special" value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND5E.SpeedSpecial' }}" />
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.HitDice" }}</h4>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">{{data.attributes.hd}} / {{data.details.level}}</label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{ localize "DND5E.RestS" }}</a>
                        <a class="rest long-rest">{{ localize "DND5E.RestL" }}</a>
                    </footer>
                </li>
            </ul>
        </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "DND5E.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
        <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
        <a class="item" data-tab="dd">DD</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10" />
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number" />
                        <a class="proficiency-toggle ability-proficiency" title="Proficiency">{{{ability.icon}}}</a>
                        <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                    <span class="skill-passive">({{skill.passive}})</span>
                </li>
                {{/each}}
            </ul>

            <section class="center-pane">

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">
                    {{#each resources as |res|}}
                    <li class="attribute resource">
                        <h4 class="attribute-name box-title">
                            <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                   placeholder="{{res.placeholder}}" />
                        </h4>
                        <div class="attribute-value multiple">
                            <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number" placeholder="0" />
                            <span class="sep"> / </span>
                            <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number" placeholder="0" />
                        </div>
                        <footer class="attribute-footer">
                            <label class="checkbox">
                                SR
                                <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
                            </label>
                            <label class="checkbox">
                                LR
                                <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
                            </label>
                        </footer>
                    </li>
                    {{/each}}

                    <li class="attribute initiative">
                        <h4 class="attribute-name box-title">Initiative</h4>
                        <div class="attribute-value">
                            <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>Modifier</span>
                            <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
                        </footer>
                    </li>
                </ul>

                {{!-- Counters --}}
                <div class="counters flexrow">
                    <div class="status flexrow death-saves">
                        <label class="rollable deathsaveroll"><h4 class="deathsavelabel">{{ localize "DND5E.DeathSave" }}</h4></label>
                        <div class="counter-value">
                            <label class="deathcheckbox">
                                <input class="ressourcecheckbox" type="checkbox" type="Boolean" name="data.attributes.deathsave1.value" data-dtype="Boolean" {{checked data.attributes.deathsave1.value}}/><span></span></label>
                            <label class="deathcheckbox">
                                <input class="ressourcecheckbox" type="checkbox" type="Boolean" name="data.attributes.deathsave2.value" title="@{deathsave_fail2}" data-dtype="Boolean" {{checked data.attributes.deathsave2.value}}/><span></span></label>
                            <label class="deathcheckbox">
                                <input class="ressourcecheckbox" type="checkbox" type="Boolean" name="data.attributes.deathsave3.value" title="@{deathsave_fail3}" data-dtype="Boolean" {{checked data.attributes.deathsave3.value}}/><span></span></label>
                        </div>
                    </div>
                    <div class="counter flexrow">
                        <h4 class="exhaustionstatus rollable">Exhaustion</h4>
                        <div class="status-value">
                            <input type="number" min="0" max="6" class="exhaustionpoints" name="data.attributes.exhaustionpoints.value" value="{{data.attributes.exhaustionpoints.value}}" />
                        </div>
                    </div>
                    <div class="counter flexrow">
                        <h4>Fate Points</h4>
                        <div class="status-value">
                            <input type="number" min="0" max="3" class="fatepoints" name="data.attributes.fatepoints.value" value="{{data.attributes.fatepoints.value}}" />
                        </div>
                    </div>
                </div>
                <div class="counters flexrow">

                    <div class="counter flexrow">
                        <h4 class="deathsavelabel woundroll rollable" style="margin-right: -56px;">Closed Wounds</h4>
                        <div class="attribute-value multiple">
                            <input name="data.attributes.wounds.value" type="text" value="{{data.attributes.wounds.value}}">
                            <span class="sep"> / </span>
                            <input type="text" name="data.attributes.maxwounds.value" value="{{data.attributes.maxwounds.value}}">
                        </div>
                    </div>

                    <div class="counter flexrow">
                        <h4 style="margin-left: -6px;">Hero Points</h4>
                        <div class="status-value">
                            <input type="number" min="0" max="3" class="heropoints" name="data.attributes.heropoints.value" value="{{data.attributes.heropoints.value}}" />
                        </div>
                        <h4>Inspiration</h4>
                        <div class="status-value">
                            <input type="number" min="0" max="3" class="inspirationpoints" name="data.attributes.inspirations.value" value="{{data.attributes.inspirations.value}}" />
                        </div>
                    </div>
                </div>
                {{!-- Traits --}} {{> "systems/dnd5e/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "modules/darksheet/templates/actors/parts/actor-inventory.html" sections=inventory}} 
        </div>
        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/dnd5e/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/dnd5e/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- DD Tab --}}
        <div class="tab dd ddfulltab flexcol" data-group="primary" data-tab="dd">
		<div class="section1">
		<div class="part1 {{data.attributes.color.value}} allparts">
    <h4 class="darksheetheader">Food</h4>
    <div class="status-value">
        <label class="foodcheckbox">
            <input class="ressourcecheckbox foodcheckbox" type="checkbox" name="data.attributes.food.value" data-dtype="Boolean" {{checked data.attributes.food.value}}/><span></span></label>
        <label class="foodcheckbox">
            <input class="ressourcecheckbox" type="checkbox" name="data.attributes.food2.value" data-dtype="Boolean" {{checked data.attributes.food2.value}}/><span></span></label>
        <label class="foodcheckbox">
            <input class="ressourcecheckbox" type="checkbox" name="data.attributes.food3.value" data-dtype="Boolean" {{checked data.attributes.food3.value}}/><span></span></label>
        <label class="foodcheckbox">
            <input class="ressourcecheckbox" type="checkbox" name="data.attributes.food4.value" data-dtype="Boolean" {{checked data.attributes.food4.value}}/><span></span></label>
        <label class="foodcheckbox">
            <input class="ressourcecheckbox" type="checkbox" type="radio" name="data.attributes.food5.value" data-dtype="Boolean" {{checked data.attributes.food5.value}}/><span></span></label>
    </div>
    <select class="saturationbox" name="data.attributes.saturation.value" data-type="String" >
        {{#select data.attributes.saturation.value}}
        <option value="foodstuffed">Stuffed -1 exhaustion</option>
        <option value="foodwellfed">Well-fed</option>
        <option value="foodok">Ok</option>
        <option value="foodpekish">Pekish</option>
        <option value="foodhungry">Hungry</option>
        <option value="foodravenous">Ravenous +1 exhaustion</option>
        <option value="foodstarving">Starving +1 exhaustion</option>
        {{/select}}
    </select>
	</div>
	<div class="part2 {{data.attributes.color.value}} allparts">
		<h4 class="darksheetheader">Waterskin</h4>
		<div class="status-value">
			<label class="watercheckbox {{data.attributes.color.value}}">
				<input class="ressourcecheckbox" type="checkbox" name="data.attributes.waterskin.value" title="@{waterskin1}" data-dtype="Boolean" {{checked data.attributes.waterskin.value}}/><span></span></label>
			<label class="watercheckbox {{data.attributes.color.value}}">
				<input class="ressourcecheckbox" type="checkbox" name="data.attributes.waterskin2.value" title="@{waterskin2}" data-dtype="Boolean" {{checked data.attributes.waterskin2.value}}/><span></span></label>
			<label class="watercheckbox {{data.attributes.color.value}}">
				<input class="ressourcecheckbox" type="checkbox" name="data.attributes.waterskin3.value" title="@{waterskin3}" data-dtype="Boolean" {{checked data.attributes.waterskin3.value}}/><span></span></label>
			<label class="watercheckbox {{data.attributes.color.value}}">
				<input class="ressourcecheckbox" type="checkbox" name="data.attributes.waterskin4.value" title="@{waterskin4}" data-dtype="Boolean" {{checked data.attributes.waterskin4.value}}/><span></span></label>
			<label class="watercheckbox {{data.attributes.color.value}}">
				<input class="ressourcecheckbox" type="checkbox" type="radio" name="data.attributes.waterskin5.value" title="@{waterskin5}" data-dtype="Boolean" {{checked data.attributes.waterskin5.value}}/><span></span></label>
		</div>
		<select class="saturationbox" name="data.attributes.thirst.value" data-type="String">
			{{#select data.attributes.thirst.value}}
			<option value="wquenched">Quenched -1 exhaustion</option>
			<option value="wrefreshed">Refreshed</option>
			<option value="wok">Ok</option>
			<option value="wparched">Parched</option>
			<option value="wthirsty">Thirsty</option>
			<option value="wdry">Dry +1 exhaustion</option>
			<option value="wdehydrated">Dehydrated +1 exhaustion</option>
			{{/select}}
		</select>
	</div>
	<div class="part3 {{data.attributes.color.value}} allparts">

		<h4 class="darksheetheader">Fatigue</h4>
		<div class="burnoutandexhaustion">
		<label class="dicelabel2 burnoutdie rollable">Spell-Burnoutdice</label>
		<select class="dicebox2" name="data.attributes.burnout.value" data-type="String" value="D12">
			{{#select data.attributes.burnout.value}}
			<option value=""></option>
			<option value="d12">d12</option>
			<option value="d10">d10</option>
			<option value="d8">d8</option>
			<option value="d6">d6</options>
				<option value="d4">d4</option>
				{{/select}}
		</select>	
		</div>
		<select class="exhaustionbox" name="data.attributes.fatigue.value" data-type="String">
			{{#select data.attributes.fatigue.value}}
			<option value="exenegised">Energised -1 exhaustion</option>
			<option value="exwell">Well-rested</option>
			<option value="exok">Ok</option>
			<option value="extired">Tired</option>
			<option value="exsleepy">Sleepy</option>
			<option value="exvsleepy">Very sleepy +1 exhaustion</option>
			<option value="exbarely">Barely awake +1 exhaustion</option>
			{{/select}}
		</select>
			<!--{{#if data.attributes.exhaustioncalc}}
            <div class="counter flexrow">
            <h4 style="margin-top: 4px;" class="exhaustionstatus">Manual Exhaustion</h4>
            <div class="status-value">
            <input type="number" min="0" max="6" style="height: 25px; margin-top: 6px;width: auto;" class="exhaustionpoints" name="data.attributes.exhaustionpoints.value" value="{{data.attributes.exhaustionpoints.value}}" />
            </div>
            </div>
			{{else}}
            <div class="counter flexrow">
            </div>
			{{/if}}-->
		<div><label class="dicelabel2 staminacheck rollable">Stamina Check</label></div>
	</div>
	</div>
	<div class="section1 allparts">
		<div class="part4 {{data.attributes.color.value}}">
			<h4 class="darksheetheader">Temperature</h4>
			<select class="exhaustionbox" name="data.attributes.temp" data-type="String" style="width: 163px;" >
				{{#select data.attributes.temp}}
				<option value="exenegised">Perfect -1 Exhaustion</option>
				<option value="exwell">Comfortable</option>
				<option value="exok">Ok</option>
				<option value="extired">Noticeable</option>
				<option value="exsleepy">Uncomfortable</option>
				<option value="exvsleepy">Overwhelming +1 exhaustion</option>
				<option value="exbarely">Unbearable +1 exhaustion</option>
				{{/select}}
			</select>
			<div style="margin-top: 15px;">
				<span class="settingsoption exhaustioncalc">
					<label class="rollable exhaustioncalc">Calculate Exhaustion:</label>
						<input type="text" disabled class="exhaustionpoints" name="{{data.attributes.exhaustioncalc}}" value="{{data.attributes.exhaustioncalc}}" placeholder="0" style="height: 30px;background: #65656500;border-style: solid; border-bottom: inset; border-color: #fdffa7;width: 30px;"/>
				</span>
			</div>
		</div>
		<div class="checks {{data.attributes.color.value}}">
			<h3 class="stressroll rollable" style="text-align: center;padding: 0;width: 120px;margin-left: 145px;margin-top: 10px;">Stress & Afflictions</h3>
			<div style="display: inline-flex;">
				<div class="stress" style="width: 155px;padding-top: 15px;padding-right: 40px;">
				Stress
				<div class="attribute-value">
							<input name="data.attributes.stress.value" type="text" value="{{data.attributes.stress.value}}" data-dtype="{{data.attributes.stress.type}}" placeholder="10" style="border-style: double;border-width: 1px;border: groove;height: 50px;width: 50px;font-size: 20px;"/>
				</div>
				</div>
				<div class="breaks">
					<div>
						<div style="display: inline-flex;"><label class="stresscheckbox">
							<input class="ressourcecheckbox stresscheckbox" type="checkbox" name="data.attributes.break1" title="@{break}" data-dtype="Boolean" {{checked data.attributes.break1}}/><span></span></label> 
							{{#if data.attributes.break1}}<label class="afflictiontext" style="color:#f3afaf;"><b>20</b></label>
								<select class="hitdice {{data.attributes.color.value}} afflictionselection" name="data.attributes.affliction1.value" data-type="String">
								{{#select data.attributes.affliction1.value}}
								<option value="Fearful">Fearful</option>
								<option value="Lethargic">Lethargic</option>
								<option value="Masochistic">Masochistic</option>
								<option value="Irrational">Irrational</option>
								<option value="Paranoid">Paranoid</option>
								<option value="Selfish">Selfish</option>
								<option value="Panic">Panic</option>
								<option value="Hopelessness">Hopelessness</option>
								<option value="Mania">Mania</option>
								<option value="Anxiety">Anxiety</option>
								<option value="Hypochondria">Hypochondria</option>
								<option value="Narcissistic">Narcissistic</option>
								<option value="Powerful">Powerful</option>
								<option value="Focused">Focused</option>
								<option value="Stalwart">Stalwart</option>
								<option value="Acute">Acute</option>
								<option value="Perceptive">Perceptive</option>
								<option value="Courageous">Courageous</option>
								{{/select}}
							</select>
							{{else}}
							<label class="afflictiontext"><b>20</b> Gain a new Affliction</label>
							{{/if}}
						</div>
						</br><div style="display: inline-flex;"><label class="stresscheckbox">
							<input class="ressourcecheckbox stresscheckbox" type="checkbox" name="data.attributes.break2" title="@{break}" data-dtype="Boolean" {{checked data.attributes.break2}}/><span></span></label> 
							{{#if data.attributes.break2}}<label class="afflictiontext" style="color:#f3afaf;"><b>30</b></label>
								<select class="hitdice {{data.attributes.color.value}} afflictionselection" name="data.attributes.affliction2.value" data-type="String">
								{{#select data.attributes.affliction2.value}}
								<option value="Fearful">Fearful</option>
								<option value="Lethargic">Lethargic</option>
								<option value="Masochistic">Masochistic</option>
								<option value="Irrational">Irrational</option>
								<option value="Paranoid">Paranoid</option>
								<option value="Selfish">Selfish</option>
								<option value="Panic">Panic</option>
								<option value="Hopelessness">Hopelessness</option>
								<option value="Mania">Mania</option>
								<option value="Anxiety">Anxiety</option>
								<option value="Hypochondria">Hypochondria</option>
								<option value="Narcissistic">Narcissistic</option>
								<option value="Powerful">Powerful</option>
								<option value="Focused">Focused</option>
								<option value="Stalwart">Stalwart</option>
								<option value="Acute">Acute</option>
								<option value="Perceptive">Perceptive</option>
								<option value="Courageous">Courageous</option>
								{{/select}}
							</select>
							{{else}}
							<label class="afflictiontext"><b>30</b> Gain a new Affliction</label>
							{{/if}}
						</div>
						</br><div style="display: inline-flex;"><label class="stresscheckbox">
							<input class="ressourcecheckbox stresscheckbox" type="checkbox" name="data.attributes.break3" title="@{break}" data-dtype="Boolean" {{checked data.attributes.break3}}/><span></span></label> 
							{{#if data.attributes.break3}}<label class="afflictiontext" style="color:#f3afaf;"><b>35</b></label>
								<select class="hitdice {{data.attributes.color.value}} afflictionselection" name="data.attributes.affliction3.value" data-type="String">
								{{#select data.attributes.affliction3.value}}
								<option value="Fearful">Fearful</option>
								<option value="Lethargic">Lethargic</option>
								<option value="Masochistic">Masochistic</option>
								<option value="Irrational">Irrational</option>
								<option value="Paranoid">Paranoid</option>
								<option value="Selfish">Selfish</option>
								<option value="Panic">Panic</option>
								<option value="Hopelessness">Hopelessness</option>
								<option value="Mania">Mania</option>
								<option value="Anxiety">Anxiety</option>
								<option value="Hypochondria">Hypochondria</option>
								<option value="Narcissistic">Narcissistic</option>
								<option value="Powerful">Powerful</option>
								<option value="Focused">Focused</option>
								<option value="Stalwart">Stalwart</option>
								<option value="Acute">Acute</option>
								<option value="Perceptive">Perceptive</option>
								<option value="Courageous">Courageous</option>
								{{/select}}
							</select>
							{{else}}
							<label class="afflictiontext"><b>35</b> Gain a new Affliction</label>
							{{/if}}
						</div>
						</br><div style="display: inline-flex;"><label class="stresscheckbox">
							<input class="ressourcecheckbox" type="checkbox" name="data.attributes.break4" title="@{break4}" data-dtype="Boolean" {{checked data.attributes.break4}}/><span></span></label> 
							{{#if data.attributes.break4}}
							<label class="afflictiontext" style="color:#f3afaf;"> <b>40</b> Hit your Breaking Point </label>
							{{else}}
							<label class="afflictiontext"> <b>40</b> Hit your Breaking Point </label>
							{{/if}}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>	
		<div class="checks {{data.attributes.color.value}}">
			<h3 style="text-align: center;margin-bottom: -15px;padding: 0; margin-top: 10px;">Checks</h3>
			<div class="section3" style="margin-left: 113px;margin-right: 113px;">
				<label class="criticalS rollable check {{data.attributes.color.value}}">Critical Success</label>
				<label class="criticalF rollable check {{data.attributes.color.value}}">Critical Failure</label>
				<label class="successatcost rollable check {{data.attributes.color.value}}">Success at a Cost</label>
			</label></label></label></label>
			</div></br>
			<div class="section3" style="margin-left: 113px;margin-right: 113px; margin-top: 0;">
				<label class="treatwound rollable check {{data.attributes.color.value}}">Treat Wound (SR)</label>
				<label class="healwound rollable check {{data.attributes.color.value}}">Heal Wound (LR)</label>
			</div>
		</div>
		<div class="section2" id="hideable">
		<h4 style="element.style="margin-left: 100px;onclick=: ;margin: 0;border-radius: 2px;margin-top: -10px;margin-bottom: 10px;" onclick="showhide();"">Settings</h4>
		<script>
			function showhide() {
			  var x = document.getElementById("hideable");
			  if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
			}
		</script>
		<span class="settingsoption">
		<label class="hitdiceroll rollable">Hitdice:</label>
			<select class="hitdice {{data.attributes.color.value}}" name="data.attributes.hitdice.value" data-type="String">
				{{#select data.attributes.hitdice.value}}
				<option value="d12">d12</option>
				<option value="d10">d10</option>
				<option value="d8">d8</option>
				<option value="d6">d6</option>
				<option value="d4">d4</option>
				{{/select}}
			</select>
		</span>
		<span class="settingsoption">
			<label>Inventory Slots </label>
            <input class="inventoryslots" style="width: 30px; height: 20px; border: 1px solid #fff;" name="data.attributes.inventoryslots" type="text" value="{{data.attributes.inventoryslots}}" data-dtype="{{data.attributes.inventoryslots}}" placeholder="18" />
            <div class="counter-value">
			</div>
		</span>
<!--		<span class="settingsoption">
					<label style="margin-top: 8px;margin-left: -55px;position: absolute;">Bloodied:</label>
						<label class="bloodiedcheckbox">
							<input class="ressourcecheckbox" type="checkbox" type="Boolean" name="data.attributes.bloodied.value" data-dtype="Boolean" {{checked data.attributes.bloodied.value}}/><span></span></label>
		</span> -->
<!--		<span class="settingsoption">
					<label style="margin-top: 8px;margin-left: -130px;position: absolute;">Automatic Exhaustion:</label>
						<label class="trainingscheckbox">
							<input class="ressourcecheckbox trainingscheckbox" type="checkbox" name="data.attributes.exhaustioncalc" data-dtype="Boolean" {{checked data.attributes.exhaustioncalc}}/><span></span></label>
						<label class="trainingscheckbox">
		</span>
		<div>-->
		<!--<span class="settingsoption">
			<label class="exhaustionstatus rollable" style="margin-top: 8px;">Automatic Exhaustion:</label>
				<input type="text" min="0" max="6" class="exhaustionpoints" name="data.attributes.exhaustioncalc.result" value="{{data.attributes.exhaustioncalc.result}}" placeholder="0" style="height: 30px;background: #65656500;border-style: solid; border-bottom: inset; border-color: #fdffa7;color: white !important;width: 30px;margin-right: 10px;"/>
		</span>-->
		</br><label class="hitdiceroll rollable">Character Sheet Color:</label>
			<select class="hitdice {{data.attributes.color.value}}" name="data.attributes.color.value" data-type="String">
				{{#select data.attributes.color.value}}
				<option value="blue">blue</option>
				<option value="green">green</option>
				<option value="red">red</option>
				<option value="black">black</option>
				{{/select}}
			</select>
	</div>
    </section>
</form>