<div class="dd-card dd-card--stamina part3 {{actor._id}} allparts items-section card">
    <header class="dd-card-header">
        <i class="fas fa-heartbeat" inert></i>
        <h4 class="darksheetheader {{actor._id}} items-header header">Stamina</h4>
        <label class="dicelabel2 staminacheck rollable darkcheck check">Check</label>
    </header>
    <div class="dd-card-body">
        <select class="darkselect" name="flags.darksheet.attributes.fatigue" data-type="String">
            {{#select actor.flags.darksheet.attributes.fatigue}}
            <option class="ddValueGood" value="exenegised">Energised -1 exhaustion</option>
            <option class="ddValueOk" value="exwell">Well-rested</option>
            <option class="ddValueOk" value="exok">Ok</option>
            <option class="ddValueOk" value="extired">Tired</option>
            <option class="ddValueOk" value="exsleepy">Sleepy</option>
            <option class="ddValueBad" value="exvsleepy">Very sleepy +1 exhaustion</option>
            <option class="ddValueBad" value="exbarely">Barely awake +1 exhaustion</option>
            {{/select}}
        </select>
    </div>
</div>
