<div class="tab dd flexcol" data-group="primary" data-tab="dd">
    <h1 style="width: 100%;font-size: larger;text-align: center;margin-top: 20px;">Darker Dungeons</span>
    <!--<input type="text" name="flags.darksheet.test" value="{{actor.flags.darksheet.test}}">-->
    {{#unless hidechecks}}
    <div class="darkPartContainer">

        <div class="part6 {{actor._id}} allparts items-section card">
            <h4 class="darksheetheader {{actor._id}}  items-header header">Checks</h4>
            <div class="checks  {{actor._id}} ddchecks">
                <div class="section3" style="margin-left: 113px;margin-right: 113px;">
                    <label class="darkCheck rollable tableCheck {{actor._id}}" draggable="true" tableCheck="Critical Success Boon">Critical Success</label>
                    <label class="darkCheck rollable tableCheck {{actor._id}}" draggable="true" tableCheck="Critical Failure Consequence">Critical Failure</label>
                    <label class="darkCheck rollable tableCheck {{actor._id}}" draggable="true" tableCheck="Success at a Cost - Offerings">Success at a Cost</label>
                    </label></label></label></label>
                </div></br>
                <div class="section3" style="margin-left: 113px;margin-right: 113px; margin-top: 0;">
                    <label class="darkCheck rollable rollHealWounds" actorid="{{actor._id}}" draggable="true" tableCheck="">Heal Wounds (LR)</label>
                </div>
            </div>
        </div>
    </div>
    {{/unless}}
</div>
