@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/signika/signika.woff2') format('woff2');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/signika/signikaBold.woff2') format('woff2');
}
/* ----------------------------------------- */
/* Text
/* ----------------------------------------- */
/* Headers */
h1,
h2,
h3,
h4 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 2em;
  border-bottom: 2px solid #782e22;
}
h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #782e22;
}
h3 {
  font-size: 1.125em;
}
/* Links */
.mce-content-body {
    color: white;
}
a {
  cursor: pointer;
}
a[href] {
  color: #ff6400;
}
a:hover {
  text-shadow: 0 0 8px red;
}
a.entity-link {
  background: #DDD;
  border-radius: 2px;
  padding: 0 2px;
  border: 1px solid #BBB;
  white-space: nowrap;
  word-break: break-all;
}
a.entity-link i {
  opacity: 0.5;
}
/* Paragraph */
p {
  margin: 0.5em 0;
  color:white;
}
::selection {
  background: #CCC;
}
/* Lists */
ul,
ol {
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}
/* Blockquote */
blockquote {
  margin: 0.5em 0 0.5em 10px;
  padding: 0 0 0 20px;
  border-left: 3px solid #AAA;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
/* Secret Sections */
section.secret {
  padding: 0 5px;
  background: rgba(53, 0, 121, 0.05);
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
/* Buttons */
button {
  width: 100%;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #AAA;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika";
  color:white;
}
button:hover {
  box-shadow: 0 0 5px red;
}
button:focus {
  outline: none;
}
button[disabled] {
  box-shadow: none;
}
/* Text Areas */
textarea {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background: #223953;
  border: 1px solid #627184;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
    color:white;
}
textarea:focus {
    outline: 2px solid #782e22;
    box-shadow: 0 0 10px #ff6400;
    outline: 2px solid #782e22;
    border-style: ridge !important;
    border-color: white !important;
    border-width: 5px !important;
    box-shadow: 0 0 10px #ff6400;
    background: #5c4141 !important;
	  color:white;
}
/* ---------------------------------------- */
/* Tables                                   */
/* ---------------------------------------- */
table {
  width: 98%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #111;
    color:white;
}
/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #782e22;
  border: 1px solid #ff6400;
}
body {
  height: calc(100vh - 16px);
  margin: 0;
  padding: 8px;
  overflow-y: auto;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 14px;
  color: white;
}

