<div class="inventory-filters">

    {{#if isCharacter}}
    <ol class="currency flexrow">
	{{#unless ../../hidenotches}}<label class="randomnotch rollable">Random Notch</label>{{/unless}}
        <h3>
            {{localize "DND5E.Currency"}}
            <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a>
        </h3>
        {{#each data.currency as |v k|}}
        <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
        <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
        {{/each}}

    </ol>
    {{/if}}

    <ul class="filter-list flexrow" data-filter="inventory">
        <li class="filter-title">{{localize "DND5E.Filter"}}</li>
        <li class="filter-item" data-filter="action">{{localize "DND5E.Action"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "DND5E.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "DND5E.Reaction"}}</li>
        <li class="filter-item" data-filter="equipped">{{localize "DND5E.Equipped"}}</li>
    </ul>
</div>

<ol class="inventory-list {{data.attributes.color.value}}">
{{#each sections as |section sid|}}
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{localize section.label}}</h3>

        {{#if ../isCharacter}}
			{{#unless ../hideammodie}}
			<div class="item-detail item-weight">Ammodie</div>
			{{/unless}}
			{{#unless ../hidenotches}}
			<div class="item-detail item-weight">Notches</div>
			{{/unless}}
        {{/if}}

		{{#if ../slotSetting}}
			<div class="item-detail item-weight">Slots</div>
			{{else}} 
			<div class="item-detail item-weight">{{localize "DND5E.Weight"}}</div>
        {{/if}}
		
        <div class="item-detail item-uses">{{localize "DND5E.Charges"}}</div>
        <div class="item-detail item-action">{{localize "DND5E.Usage"}}</div>

        {{#if ../owner}}
			<div class="item-controls">
				<a class="item-control item-create" title='{{localize "DND5E.ItemCreate"}}' {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
					<i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
				</a>
			</div>
        {{/if}}
    </li>

    <ol class="item-list">
    {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
			{{#if ../../disableitemquality}}
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4 >
                    {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
					{{#unless ../../disabletemper}}{{#if item.flags.darksheet.item.temper}} {{item.flags.darksheet.item.temper}} {{else}}<!--{{#if item.flags.darksheet.item.fragility}}<i>({{item.flags.darksheet.item.fragility}})</i>{{/if}}--> {{/if}}{{/unless}}
						{{item.name~}} 
						{{#unless ../../hidedamageac}}
							{{#if item.data.damage.currentweapondamage}}
								({{item.data.damage.currentweapondamage}})
							{{/if}}
							{{#if item.data.armor.value}}
								({{item.data.armor.value}} AC)
							{{/if}}
						{{/unless}}
					{{#if item.data.notchpen}} (Minus <b>{{item.data.notchpen}}</b> to checks) {{/if}}
                    {{~#if item.data.attuned}} <i class="fas fa-sun attuned" title={{localize "DND5E.Attuned"}}></i>{{/if}}
                </h4>
            </div>
			{{else}}
            <div class="item-name flexrow rollable {{item.flags.darksheet.item.quality}}">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4 class="{{item.flags.darksheet.item.quality}}">
                    {{~#if item.isStack}}({{item.data.quantity}}) {{/if}}
					{{#unless ../../disabletemper}}{{#if item.flags.darksheet.item.temper}} {{item.flags.darksheet.item.temper}} {{else}}<!--{{#if item.flags.darksheet.item.fragility}}<i>({{item.flags.darksheet.item.fragility}})</i>{{/if}}--> {{/if}}{{/unless}}
						{{item.name~}} 
						{{#unless ../../hidedamageac}}
							{{#if item.data.damage.currentweapondamage}}
								({{item.data.damage.currentweapondamage}})
							{{/if}}
							{{#if item.data.armor.value}}
								({{item.data.armor.value}} AC)
							{{/if}}
						{{/unless}}
					{{#if item.data.notchpen}} (Minus <b>{{item.data.notchpen}}</b> to checks) {{/if}}
                    {{~#if item.data.attuned}} <i class="fas fa-sun attuned" title={{localize "DND5E.Attuned"}}></i>{{/if}}
                </h4>
            </div>
			{{/if}}


            {{#if ../../isCharacter}}
			{{#unless ../../hideammodie}}
			<div class="item-detail item-weight">
                <div class="item-detail">
				{{~#if flags.darksheet.item.ammodie}}
                    <label id ="rollableammodice" class="rollable ammodice ammostyle">{{flags.darksheet.item.ammodie}}</label>
				{{/if}}
                </div>
            </div>
			{{/unless}}
			{{#unless ../../hidenotches}}
            <div class="item-detail item-weight notches">
                <label class="notchlabel" style="display: block;width: 100%;">{{ flags.darksheet.item.notches}}</label>
				<button style="width:5px;" class="darksheetbutton-" type="button" id="minus"></button>
				<button style="width:5px" class="darksheetbuttonplus" type="button" id="plus"></button>
            </div>
			{{/unless}}
            {{/if}}
			
			<div class="item-detail item-weight">
                {{#if flags.darksheet.item.slots}}
                <div class="item-detail">
                    {{ flags.darksheet.item.slots}} Slots
                </div>
				{{else}}
                <div class="item-detail">
                    {{ data.weight}} lb.
                </div>
				{{/if}}
				
            </div>
            <div class="item-detail item-uses">
                {{#if item.hasUses }}
                    <input type="text" value="{{item.data.uses.value}}" placeholder="0"/>
                    / {{item.data.uses.max}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.data.activation.type }}
                {{item.labels.activation}}
                {{/if}}
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{/each}}
</ol>


{{#if isCharacter }}
{{#with data.attributes.encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
    <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
</div>
{{/with}}
{{/if}}

{{#if isCharacter }}
{{#with data.attributes.inventorys}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{percent}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}} Slots</span>
</div>
{{/with}}
{{/if}}